<div class="row main_wrapper">
    <div class="row page_title" >
        <div class="col-md-12">
            <h2>Learning Center</h2>
        </div>
    </div>
    <div class="col-md-4 col-sm-4">
        <div class="panel panel-default video_sidebar">
            <div class="panel-heading">
                <h3 class="panel-title">Panel title</h3>
            </div>
            <div class="panel-body">
                Panel content
            </div>
        </div>
    </div>
    <div class="col-md-8 col-sm-8">
        <div class=" row video_wrapper" ng-repeat="video in videos" >


                    <div>
                        <a ui-sref="video_page({id:video._id})">
                        <img class="vid_thumb" src="{{video.thumbnail_link}}" width="140" height="100"/>
                        </a>
                    </div>

                    <div class=" video_info">
                        <a ui-sref="video_page({id:video._id})">
                        <h4>{{video.name}}</h4>
                            </a>
                        <a ui-sref="video_page({id:video._id})">
                        <p>{{video.description}}</p>
                            </a>
                    </div>



        </div>

    </div>



</div>