<div class="row ">


    <div class="col-md-12 col-sm-12">
        <div class="row page_title">
            <div class="col-md-12">
                <h2>My Account</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <h3><b>Hi {{user.username}}</b></h3>
                <div class="profile_pic">
                    <img ng-src="{{profileImgSrc}}" width="100" height="auto" />
                </div>
                <div flow-init="{target:'/upload', uploadMethod: 'POST', testChunks: false }" flow-files-submitted="$flow.upload()" flow-file-success="uploadSuccessDelayed()">
                    <span class="upload_photo" flow-btn>Upload Photo</span>
                    <!--<img flow-img="$flow.files[0]" />-->
                </div>
                <button class="logout_button"  ng-click="lout();">Log Out</button>
                <!--<button ng-hide="isloggedin" ui-sref="login">Log In</button>-->
            </div>
        </div>


    </div>




</div>