<div class="row main_wrapper">


    <div class="row page_title" >
        <div class="col-md-12">
            <h2>Sound Library</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12"><!-- bread crumbs -->
            <ol class="breadcrumb">
                <li><a href="#/sounds">Genres</a></li>
                <li><a href="#/genre">Rock</a></li>

            </ol>
        </div><!-- bread crumbs end -->
    </div>

    <div class="row"><!-- genres -->
        <div class="col-md-12" style="margin-bottom: 30px;">
            <table width="600" align="center" cellpadding="10" cellspacing="0" border="0">
                <tr>
                    <td style="border:1px solid black; padding:10px;">
                        <a href="#/download">
                        Ambient
                        </a>
                    </td>
                </tr>
                <tr>
                    <td style="border:1px solid black; padding:10px;">
                        <a href="#/download">
                        Drums
                        </a>
                    </td>
                </tr>
                <tr>
                    <td style="border:1px solid black; padding:10px;">
                        <a href="#/download">
                        Guitars
                        </a>
                    </td>
                </tr>
                <tr>
                    <td style="border:1px solid black; padding:10px;">
                        <a href="#/download">
                        Pianos
                        </a>
                    </td>
                </tr>
                <tr>
                    <td style="border:1px solid black; padding:10px;">
                        <a href="#/download">
                        Strings
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div><!-- genres end -->


</div>